<h1>Editing About</h1>

<%= simple_form_for [:admin, @biography], wrapper: :horizontal_form, url: admin_biography_path(@biography), html: { class: 'form-horizontal', role: true } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>
<%= link_to 'Back', admin_biography_path(@biography) %>
