<%= f.input :started_on, as: :date_picker, input_html: { class: "datetimepicker" } %>
<%= f.input :detail %>
<div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    admin_schedule_index_path, :class => 'btn' %>
</div>
