<div style="text-align:center;" >
<h1>新規作成</h1>

<%= simple_form_for [:admin, @event], wrapper: :horizontal_form, url: admin_schedule_index_path, html: { class: 'form-horizontal', role: true } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>
<%= link_to '戻る', admin_schedule_index_path %>
</div>
