<div>
  <% (2015..([@events.keys.max, Time.current.year].max)).reverse_each do |year| %>
    <div style="text-align:left; margin-left: 100px; padding-bottom: 5px;">
    <h3 style="margin-top:20px;"><%= year %></h3>
    <% (@events[year] || []).each do |event| %>
      <div style="padding-left: 50px; font-size: 15px;">
        <div style="float:left; margin-right: 10px;"><%= event.started_on.strftime("%m/%d") %></div>
        <div><%= event.detail %></div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
