<h1>Editing Top Photo</h1>

<%= simple_form_for [:admin, @top_photo], wrapper: :horizontal_form, url: admin_top_path(@top_photo), html: { class: 'form-horizontal', role: true } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>
<%= link_to 'Show', admin_top_path(@top_photo) %> |
<%= link_to 'Back', admin_top_path %>
