<%= f.input :image, input_html: { preview_version: :thumb } %>

<div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    admin_gallery_index_path, :class => 'btn' %>
</div>
