<div id="masonry-container" style="min-height: 276px;">
  <% @images.each do |image| %>
    <div class="mas-box item">
      <%= link_to image_tag(image.image.url, size: "208x208"), image.image.url, data: { lightbox: "group" } %>
    </div>   
  <% end %>
</div>

