// Place all the styles related to the disco_boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.admin-main {
  background: #fff;
  height: 100%;
  text-align: center;
  margin: auto;
}
