<h1>About</h1>

<div style="padding-top:70px;padding-bottom:30px;">
  <table class="table table-striped" style="width:90%;margin:auto;" border="1">
    <tr>
      <td><strong>アートワーク:</strong></td>
      <td><%= image_tag @about.photo.url, size:"300x300" %></td>
    </tr>

    <tr>
      <td><strong>profile:</strong></td>
      <td><%= simple_format(@about.profile) %></td>
    </tr>

  </table>
</div>

<div style="margin-bottom:50px;">
  <%= link_to '編集', edit_admin_about_path(@about) %>
</div>
